.whiteFont {
	color:white;
}



a:link {
	text-decoration: none;
}
a:visited {color: purple;}
a:hover {color: #69c;
text-decoration: none;}
a:active {color: #69c;}



.smallMarginBottom{
	margin-bottom: 20px
}

.logo{
	width:150px;
	height:100px;
}

.paddingTop25{
	padding-top:25px;
}


.containerSign{
	  display: flex;
	  justify-content:center;

}

.logged{
	padding-top:10px;
	color:white;
	font-size: 12px;
}

body {
  background: url(../img/bg.jpg);
    background-repeat:no-repeat;
   background-size:cover;
}